* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 
 
a {
    /* text-decoration: underline; */
    text-decoration: none;
}
 
:root {
 
    --primary:#2f2cfa;
    --primaryDark:#0300a6;
    --primaryLight:#25d6a4;
    --color:#2E2D2D;
    --colorDark:#151414;
    --colorLight:#5a5a5a;
    --accent:#FE7949;
    --h1:48px;
    --fw-bold:800;
    
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color:var(--color);
}

 
h1 {
 
 color:var(--color);
line-height:normal;
font-weight:800;
font-size: var(--h1);
}
@media(max-width:600px){
h1 {
    --color:red;
}
}
h1::before {
    content: "Before";
    color: red;
}
h1::after {
    content: "After";
    color: red;
}
 
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
img {
    max-width: 100%;
    height: auto;
}
 
.container {
    max-width: 1170px;
    margin:0 auto;


}
.header {
    max-width: 90%;
    margin:0 auto;
}
.section-header {
    max-width: 90%;
    margin:0 auto;
}


.hero img {
   /* border:4px solid red; */
}
.hero {
    position: relative;
    /* background-color: blue; */
    height:100vh;
    max-height: 600px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* color: white; */
/* background-color: black; */
}
.hero::before{
    content:"";
    background: rgba(0, 0, 0, 0.75);
    /* background-color: var(--primary); */
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.hero >img {
    object-fit: cover;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    /* opacity: 0.2; */
    z-index: -2;   

}
.hero .container {
    position: relative;
    z-index: 1;
}
.bg {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex {
    display:flex;
    width: 800px;
    height: 600px;
    background-color: lightgray;
    /* flex-direction: row; */
    justify-content: flex-start;
    gap:24px;
}
.flex >.box {
    width:100px;
    height: 100px;
    background-color: red;
}
 

button {
    background-color: #00A678;
}

.bg-something {
    background-color: #127559;
}

.btn {
    background-color: var(--primary, #00A678);
 
    color: white;
    /* padding:top right bottom left; */
    /* padding: 12px 8px 12px 8px; */
    /* padding:top-bottom left-right; */
    padding:12px;
    border-radius: 4px;

}
.btn:hover {
    background-color: var(--primaryDark, );
}