* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green;
}

a {
  /* text-decoration: underline; */
  text-decoration: none;
}

:root {
  --primary:yellow;
  --primaryDark:#e6e600;
  --color:#2E2D2D;
  --colorDark:#151414;
  --colorLight:#5a5a5a;
  --accent:#FE7949;
  --h1:48px;
  --fw-bold:800;
  --gutter:16px;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color);
  overflow-x: hidden;
}

h1 {
  color: var(--color);
  line-height: normal;
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 1em;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  max-width: 90%;
  margin: 0 auto;
}

.section-header {
  max-width: 90%;
  margin: 0 auto;
}

.hero img {
  /* border:4px solid red; */
}

.hero {
  position: relative;
  /* background-color: blue; */
  height: 100vh;
  max-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* color: white; */
  /* background-color: black; */
}

.hero::before {
  content: "";
  background: rgba(0, 0, 0, 0.25);
  /* background-color: var(--primary); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero--nobgcolor::before {
  display: none;
}

.hero > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0.2; */
  z-index: -2;
}

.hero .container {
  position: relative;
  z-index: 1;
}

.bg {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: "customFont";
  src: url(../fonts/Splash-Regular.ttf);
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  margin: 30px 0;
  background-color: lightgray;
  /* flex-direction: row; */
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: calc(var(--gutter) * 3);
}

.flex > .box {
  width: 100px;
  height: 100px;
  background-color: red;
}

.site-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  background-color: #00A678;
}

.bg-something {
  background-color: #127559;
}

.btn {
  background-color: blue;
  display: inline-block;
  color: white;
  /* padding:top right bottom left; */
  /* padding: 12px 8px 12px 8px; */
  /* padding:top-bottom left-right; */
  padding: 12px;
  border-radius: 4px;
  border: 2px solid blue;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn .fa {
  margin-left: -8px;
  opacity: 0;
  -webkit-transition: margin 0.3s, opacity 0.3s 5s;
  transition: margin 0.3s, opacity 0.3s 5s;
}

.btn:hover {
  background-color: transparent;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  border-color: white;
}
.btn:hover .fa {
  margin-left: 4px;
  opacity: 1;
}

.btn-secondary {
  background-color: white;
  display: inline-block;
  color: blue;
  /* padding:top right bottom left; */
  /* padding: 12px 8px 12px 8px; */
  /* padding:top-bottom left-right; */
  padding: 12px;
  border-radius: 4px;
  border: 2px solid blue;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-secondary .fa {
  margin-left: -8px;
  opacity: 0;
  -webkit-transition: margin 0.3s, opacity 0.3s 5s;
  transition: margin 0.3s, opacity 0.3s 5s;
}

.btn:hover {
  background-color: transparent;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  border-color: white;
}
.btn:hover .fa {
  margin-left: 4px;
  opacity: 1;
}

.row2 {
  --col:1;
  --gutter:16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gutter);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.row2.gutter-0 {
  --gutter:0;
}
@media (min-width: 400px) {
  .row2.column-sm-2 {
    --col:2;
  }
}
@media (min-width: 768px) {
  .row2.column-md-2 {
    --col:2;
  }
}
@media (min-width: 992px) {
  .row2.column-lg-3 {
    --col:3;
  }
}
@media (min-width: 1100px) {
  .row2.column-xl-4 {
    --col:4;
  }
}
.row2:not(.gutter-0) > * {
  width: calc(100% / var(--col) - var(--gutter) * (var(--col) - 1) / var(--col));
}
.row2 > * {
  background: lightblue;
  width: calc(100% / var(--col));
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 100px;
}
.row > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
  background: lightblue;
}
.row > *:nth-child(4) {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-color: red;
}
.row > *:nth-child(5) {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-color: blue;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-menu__item {
  display: block;
}
.main-menu__item--hasDropdown {
  position: relative;
}
.main-menu__item--hasDropdown > a {
  color: black;
}
.main-menu__item--hasDropdown > a i.fa {
  font-size: 18px;
}
.main-menu__item--hasDropdown > a:hover {
  color: red;
}

.article {
  --imgWidth:500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media (max-width: 963px) {
  .article {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.article__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.article__figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 var(--imgWidth);
          flex: 0 1 var(--imgWidth);
}
@media (max-width: 963px) {
  .article__figure {
    --imgWidth:auto;
  }
}

.article--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.article--2__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 963px) {
  .article--2__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.article--2__figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
}
.article--2__title {
  position: relative;
}
.article--2__title::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: darkslateblue;
  display: block;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.article--2__title:hover::after {
  width: 100%;
}
.article--2__title::first-letter {
  color: blue;
}

.avatar {
  --size:120px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.styled-heading {
  font-size: 48px;
  position: relative;
}
.styled-heading > span {
  position: relative;
}
.styled-heading > span:first-child:before {
  content: "";
  display: inline;
  height: 6px;
  width: 100vw;
  background-color: var(--color);
  position: absolute;
  right: calc(100% + 16px);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.styled-heading > span:last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.styled-heading > span:last-child:after {
  content: "";
  display: inline;
  height: 6px;
  width: 100vw;
  background-color: var(--color);
  position: absolute;
  left: calc(100% + 16px);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dots .dot {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: lightgray;
  display: inline-block;
}
.dots .dot.active {
  background-color: red;
}
.dots .dot.active + .dot:nth-of-type(n+4) {
  background-color: red;
}

.slick-arrow {
  padding: 8px;
}

.hero-slider {
  position: relative;
}

.hero-nav {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

#hero-nav {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 50px;
}
#hero-nav .slick-arrow:first-child {
  margin-right: 16px;
}

.testimonial-slider .slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.testimonial-slider .slick-dots > li.slick-active button {
  background-color: green;
}
.testimonial-slider .slick-dots > li button {
  --size:24px;
  background-color: transparent;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  text-indent: -9999px;
}

.div {
  width: 12.5rem;
  height: 12.5rem;
  border: 0.75em solid red;
  overflow-y: auto;
  margin: 2.0625rem 0;
  padding: 1.5pxem;
}
@media (max-width: 600px) {
  .div {
    font-size: 12px;
  }
}

/*=============================================
=            RED            =
=============================================*/
/*=====  End of RED  ======*/
/*=============================================
=            EM            =
=============================================*/
/*=====  End of EM  ======*/
.site-header nav ul li a {
  font-size: 1rem;
  padding: 0.5em;
}

.card {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.1, 1.51, 0.87, 1.63);
  transition: -webkit-transform 0.3s cubic-bezier(0.1, 1.51, 0.87, 1.63);
  transition: transform 0.3s cubic-bezier(0.1, 1.51, 0.87, 1.63);
  transition: transform 0.3s cubic-bezier(0.1, 1.51, 0.87, 1.63), -webkit-transform 0.3s cubic-bezier(0.1, 1.51, 0.87, 1.63);
}
.card .card-content {
  padding: 24px;
}
.card .card-header {
  background-color: lightyellow;
}
.card .card-header--transform {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}
.card .card-header--margin {
  margin-top: -70px;
  position: relative;
}
.card .card-header--position {
  position: absolute;
  top: 138px;
}
.card--bestPlan {
  position: relative;
  z-index: 1;
}
.card--bestPlan:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section {
  padding: 40px 0;
}

.color-white {
  color: white;
}

[data-bg] {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
[data-bg]:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
[data-bg] .container {
  position: relative;
}

.section--cta {
  color: white;
}
.section--cta .row .col {
  background-color: transparent;
}
.section--cta .section-title {
  font-size: 2rem;
  line-height: 150%;
  margin-bottom: 0.625em;
}

.hero-content {
  padding: 32px 0;
}
.hero--2 {
  position: relative;
  min-height: min(800px, 100vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero--2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 auto auto 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.hero--2 .container {
  position: relative;
  z-index: 1;
}
.hero--2 .container .btn {
  background-color: white;
}
.hero--2 .container *:not(.btn-secondary) {
  color: white;
}
.hero--2 .hero-title {
  font-size: 58px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: capitalize;
  line-height: 120%;
}
.hero--2 .lead {
  margin-bottom: 0;
}
.hero--2 .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 16px;
  max-width: 80ch;
}
.hero--2 .hero-img-carousel {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
}
.hero--2 .hero-img-carousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero--2 .hero-img-carousel .slick-list {
  height: 100%;
}
.hero--2 .hero-img-carousel .slick-list .slick-track {
  height: inherit;
}

/**
 *
 * PLACEHODERS
 *
 */
.card, .center-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/**
 *
 * MIXIN
 *
 */
.btn {
  background-color: #007991;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.btn-primary {
  background-color: #007991;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: blue;
}

.form-group {
  margin-bottom: 16px;
}
.form-group > label {
  display: block;
  margin-bottom: 8px;
}
.form-group input:focus:invalid {
  outline: 2px solid red;
}
.form-group input:focus:valid {
  outline: 2px solid greenyellow;
}
.form-group input[type=text], .form-group input[type=email], .form-group input[type=number], .form-group input[type=tel], .form-group textarea {
  padding: 8px 12px;
  border-radius: 4px;
}
.form-group input[type=text]::-webkit-input-placeholder, .form-group input[type=email]::-webkit-input-placeholder, .form-group input[type=number]::-webkit-input-placeholder, .form-group input[type=tel]::-webkit-input-placeholder, .form-group textarea::-webkit-input-placeholder {
  color: gray;
  font-style: italic;
}
.form-group input[type=text]::-moz-placeholder, .form-group input[type=email]::-moz-placeholder, .form-group input[type=number]::-moz-placeholder, .form-group input[type=tel]::-moz-placeholder, .form-group textarea::-moz-placeholder {
  color: gray;
  font-style: italic;
}
.form-group input[type=text]:-ms-input-placeholder, .form-group input[type=email]:-ms-input-placeholder, .form-group input[type=number]:-ms-input-placeholder, .form-group input[type=tel]:-ms-input-placeholder, .form-group textarea:-ms-input-placeholder {
  color: gray;
  font-style: italic;
}
.form-group input[type=text]::-ms-input-placeholder, .form-group input[type=email]::-ms-input-placeholder, .form-group input[type=number]::-ms-input-placeholder, .form-group input[type=tel]::-ms-input-placeholder, .form-group textarea::-ms-input-placeholder {
  color: gray;
  font-style: italic;
}
.form-group input[type=text]::placeholder, .form-group input[type=email]::placeholder, .form-group input[type=number]::placeholder, .form-group input[type=tel]::placeholder, .form-group textarea::placeholder {
  color: gray;
  font-style: italic;
}

.html-modal {
  position: fixed;
  inset: 0;
  z-index: -100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  width: 100%;
  height: 100%;
  top: 100%;
}
.html-modal.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 999;
  top: 0;
}
.html-modal.active .html-modal-container {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  max-height: 80vh;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.html-modal.active .html-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.html-modal-container {
  background-color: white;
  max-width: 927px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.html-modal-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
}
.html-modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.html-modal-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.html-modal-backdrop {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

table {
  margin: 20px;
  border: 1px solid black;
}
table td, table th {
  padding: 8px;
  border: 1px solid black;
}

.grid {
  background: aqua;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(12, 200px);
}
.grid > *:nth-child(2) {
  background: red;
}

.layout {
  margin: 0 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "head head" "sidebar content" "footer footer";
}
@media (max-width: 767px) {
  .layout {
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    grid-template-areas: "head head" "sidebar sidebar" "content content" "footer footer";
  }
}
.layout .header1 {
  grid-area: head;
  background: blue;
  color: white;
}
.layout .sidebar {
  grid-area: sidebar;
}
.layout .main {
  grid-area: content;
}
.layout .footer {
  grid-area: footer;
  background: green;
}