* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green;
}

a {
  /* text-decoration: underline; */
  text-decoration: none;
}

:root {
  --primary:yellow;
  --primaryDark:#e6e600;
  --color:#2E2D2D;
  --colorDark:#151414;
  --colorLight:#5a5a5a;
  --accent:#FE7949;
  --h1:48px;
  --fw-bold:800;
  --gutter:16px;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color);
  overflow-x: hidden;
}

h1 {
  color: var(--color);
  line-height: normal;
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 1em;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  max-width: 90%;
  margin: 0 auto;
}

.section-header {
  max-width: 90%;
  margin: 0 auto;
}

.hero img {
  /* border:4px solid red; */
}

.hero {
  position: relative;
  /* background-color: blue; */
  height: 100vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: white; */
  /* background-color: black; */
}

.hero::before {
  content: "";
  background: rgba(0, 0, 0, 0.25);
  /* background-color: var(--primary); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero--nobgcolor::before {
  display: none;
}

.hero > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0.2; */
  z-index: -2;
}

.hero .container {
  position: relative;
  z-index: 1;
}

.bg {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
}

@font-face {
  font-family: "customFont";
  src: url(../fonts/Splash-Regular.ttf);
}
.flex {
  display: flex;
  height: 200px;
  margin: 30px 0;
  background-color: lightgray;
  /* flex-direction: row; */
  justify-content: flex-start;
  gap: calc(var(--gutter) * 3);
}

.flex > .box {
  width: 100px;
  height: 100px;
  background-color: red;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
}
.site-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

button {
  background-color: #00A678;
}

.bg-something {
  background-color: #127559;
}

.btn {
  background-color: blue;
  display: inline-block;
  color: white;
  /* padding:top right bottom left; */
  /* padding: 12px 8px 12px 8px; */
  /* padding:top-bottom left-right; */
  padding: 12px;
  border-radius: 4px;
  border: 2px solid blue;
  transition: all 0.3s;
}
.btn .fa {
  margin-left: -8px;
  opacity: 0;
  transition: margin 0.3s, opacity 0.3s 5s;
}

.btn:hover {
  background-color: transparent;
  transform: translateY(15px);
  border-color: white;
}
.btn:hover .fa {
  margin-left: 4px;
  opacity: 1;
}

.row2 {
  --col:1;
  --gutter:16px;
  display: flex;
  gap: var(--gutter);
  flex-wrap: wrap;
}
.row2.gutter-0 {
  --gutter:0;
}
@media (min-width: 400px) {
  .row2.column-sm-2 {
    --col:2;
  }
}
@media (min-width: 768px) {
  .row2.column-md-2 {
    --col:2;
  }
}
@media (min-width: 992px) {
  .row2.column-lg-3 {
    --col:3;
  }
}
@media (min-width: 1100px) {
  .row2.column-xl-4 {
    --col:4;
  }
}
.row2:not(.gutter-0) > * {
  width: calc(100% / var(--col) - var(--gutter) * (var(--col) - 1) / var(--col));
}
.row2 > * {
  background: lightblue;
  width: calc(100% / var(--col));
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 100px;
}
.row > * {
  flex: 1 0 250px;
  background: lightblue;
}
.row > *:nth-child(4) {
  flex-basis: 50%;
  flex-grow: 0;
  background-color: red;
}
.row > *:nth-child(5) {
  flex-basis: 50%;
  flex-grow: 0;
  background-color: blue;
}

.main-menu {
  display: flex;
}
.main-menu__item {
  display: block;
}
.main-menu__item--hasDropdown {
  position: relative;
}
.main-menu__item--hasDropdown > a {
  color: black;
}
.main-menu__item--hasDropdown > a i.fa {
  font-size: 18px;
}
.main-menu__item--hasDropdown > a:hover {
  color: red;
}

.article {
  --imgWidth:500px;
  display: flex;
  gap: 32px;
}
@media (max-width: 963px) {
  .article {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.article__content {
  flex: 1;
}
.article__figure {
  flex: 0 1 var(--imgWidth);
}
@media (max-width: 963px) {
  .article__figure {
    --imgWidth:auto;
  }
}

.article--2 {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.article--2__content {
  flex: 1;
}
@media (max-width: 963px) {
  .article--2__content {
    order: 1;
  }
}
.article--2__figure {
  flex: 0 1 500px;
}
.article--2__title {
  position: relative;
}
.article--2__title::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: darkslateblue;
  display: block;
  transition: width 0.3s;
}
.article--2__title:hover::after {
  width: 100%;
}
.article--2__title::first-letter {
  color: blue;
}

.avatar {
  --size:120px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.styled-heading {
  font-size: 48px;
  position: relative;
}
.styled-heading > span {
  position: relative;
}
.styled-heading > span:first-child:before {
  content: "";
  display: inline;
  height: 6px;
  width: 100vw;
  background-color: var(--color);
  position: absolute;
  right: calc(100% + 16px);
  top: 50%;
  transform: translateY(-50%);
}
.styled-heading > span:last-child {
  align-items: center;
  gap: 16px;
}
.styled-heading > span:last-child:after {
  content: "";
  display: inline;
  height: 6px;
  width: 100vw;
  background-color: var(--color);
  position: absolute;
  left: calc(100% + 16px);
  top: 50%;
  transform: translateY(-50%);
}

.dots .dot {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: lightgray;
  display: inline-block;
}
.dots .dot.active {
  background-color: red;
}
.dots .dot.active + .dot:nth-of-type(n+4) {
  background-color: red;
}

.slick-arrow {
  padding: 8px;
}

.hero-slider {
  position: relative;
}

.hero-nav {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}

#hero-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}
#hero-nav .slick-arrow:first-child {
  margin-right: 16px;
}

.testimonial-slider .slick-dots {
  list-style: none;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.testimonial-slider .slick-dots > li.slick-active button {
  background-color: green;
}
.testimonial-slider .slick-dots > li button {
  --size:24px;
  background-color: transparent;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  text-indent: -9999px;
}

.div {
  width: 12.5rem;
  height: 12.5rem;
  border: 0.75em solid red;
  overflow-y: auto;
  margin: 2.0625rem 0;
  padding: 1.5em;
}
@media (max-width: 600px) {
  .div {
    font-size: 12px;
  }
}

/*=============================================
=            RED            =
=============================================*/
/*=====  End of RED  ======*/
/*=============================================
=            EM            =
=============================================*/
/*=====  End of EM  ======*/
.site-header nav ul li a {
  font-size: 1rem;
  padding: 0.5em;
}

.card {
  position: relative;
  transition: transform 0.3s cubic-bezier(0.1, 1.51, 0.87, 1.63);
}
.card .card-content {
  padding: 24px;
}
.card .card-header {
  background-color: lightyellow;
}
.card .card-header--transform {
  transform: translateY(-70px);
}
.card .card-header--margin {
  margin-top: -70px;
  position: relative;
}
.card .card-header--position {
  position: absolute;
  top: 138px;
}
.card--bestPlan:hover {
  transform: scale(1.2);
}/*# sourceMappingURL=style.css.map */