@use "sass:math";
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 /* width */
::-webkit-scrollbar {
    width: 8px;
  }
  html {
    // font-size: 16px;
   
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: blue;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: green;
  }
 
a {
    /* text-decoration: underline; */
    text-decoration: none;
}
$primary:yellow;
$primaryDark:darken($primary, 5%);
$accent:#FE7949;
:root {
 
    --primary:#{$primary};
    --primaryDark:#{$primaryDark};
    --color:#2E2D2D;
    --colorDark:#151414;
    --colorLight:#5a5a5a;
    --accent:#{$accent};
    --h1:48px;
    --fw-bold:800;
    --gutter:16px;
    
}

body {
    font-family: 'Inter', sans-serif;
    // font-size: 16px;
    color:var(--color);
    overflow-x: hidden;
}

 
h1 {
 
 color:var(--color);
//  color:$primary;
line-height:normal;
font-weight:800;
font-size: 2rem;
// margin-bottom: 32px;
 margin-bottom: 1em; //root fontsize 16px x 1= 16px , 16px x 2 = 32px;
 @media(max-width:600px){
    font-size: 1rem;
    // margin-bottom: 16px;  //root fontsize 16px x 1= 16px , 16px x 1 = 16px
    
 }
}
 
// h1::before {
//     content: "Before";
//     color: red;
// }
// h1::after {
//     content: "After";
//     color: red;
// }
 
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
img {
    max-width: 100%;
    height: auto;
}
 
.container {
    max-width: 1170px;
    margin:0 auto;
    padding:0 16px;


}
.header {
    max-width: 90%;
    margin:0 auto;
}
.section-header {
    max-width: 90%;
    margin:0 auto;
}


.hero img {
   /* border:4px solid red; */
  
}
.hero {
    position: relative;
    /* background-color: blue; */
    height:100vh;
    max-height: 600px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
// background-image: url(../img/banner1.jpeg);
// background-repeat: no-repeat;
// background-color:blue;
// background-position: 100% center;
// background-size: cover;

// background:url(../img/banner1.jpeg) no-repeat 100% center  blue ;

// object-fit: cover contain;
/* color: white; */
/* background-color: black; */
}
.hero::before{
    content:"";
    background: rgba(0, 0, 0, 0.25);
    /* background-color: var(--primary); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.hero--nobgcolor::before {
    display: none;
}
.hero >img {
    object-fit: cover;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    /* opacity: 0.2; */
    z-index: -2;   

}
.hero .container {
    position: relative;
    z-index: 1;
}
.bg {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.d-flex {
    display: flex;
}
@font-face {
    font-family:"customFont" ;
    src: url(../fonts/Splash-Regular.ttf);
}
.flex {
    display:flex;
    // width: 800px;
    height: 200px;
    margin:30px 0;
    // font-family: "customFont";
    // background-image: url(../img/banner1.jpeg);
    // background-repeat: repeat;
    // // background-size: cover;
    background-color: lightgray;
    /* flex-direction: row; */
    justify-content: flex-start;
    gap:calc(var(--gutter) * 3);
}
.flex >.box {
    width:100px;
    height: 100px;
    background-color: red;
}
 
//calc()
//url()-image, font
//var()- css variable
//attr()-
//rgb()
//linear-gradient();

//flex
// flex-wrap
// flex-shrink
// flex-grow
// margin 

 
.site-header {
    .container {
        display: flex;  
        justify-content: space-between;
    }

    ul {
        margin:0;
        padding:0;
        list-style: none;
        display: flex;
    }
}
button {
    background-color: #00A678;
}

.bg-something {
    background-color: #127559;
}

.btn {
    background-color:blue;
    display: inline-block;
    color: white;
    /* padding:top right bottom left; */
    /* padding: 12px 8px 12px 8px; */
    /* padding:top-bottom left-right; */
    padding:12px;
    border-radius: 4px;
    border:2px solid blue;
    transition:all 0.3s;
    .fa {
        margin-left:-8px;        
       opacity: 0;
       transition: margin 0.3s, opacity 0.3s 5s;
    }

}
.btn:hover {
    background-color: transparent;
    transform:translateY(15px);
    border-color:white;
    .fa {
       margin-left:4px;
        opacity: 1;
    }
}

.btn-secondary {
    background-color:white;
    display: inline-block;
    color: blue;
    /* padding:top right bottom left; */
    /* padding: 12px 8px 12px 8px; */
    /* padding:top-bottom left-right; */
    padding:12px;
    border-radius: 4px;
    border:2px solid blue;
    transition:all 0.3s;
    .fa {
        margin-left:-8px;        
       opacity: 0;
       transition: margin 0.3s, opacity 0.3s 5s;
    }

}
.btn:hover {
    background-color: transparent;
    transform:translateY(15px);
    border-color:white;
    .fa {
       margin-left:4px;
        opacity: 1;
    }
}
.row2 {
    --col:1;
    --gutter:16px;
    display: flex;
     gap:var(--gutter);
    flex-wrap: wrap;
    &.gutter-0 {
        --gutter:0;
    }
    @media(min-width:400px){
        &.column-sm-2 {
            --col:2;
        }
    }
    @media(min-width:768px){
        &.column-md-2 {
            --col:2;
        }
    }
    @media(min-width:992px){
        &.column-lg-3 {
            --col:3;
        }
    }
    @media(min-width:1100px){
        &.column-xl-4 {
            --col:4;
        }
    }
   
   
   

    

   
    
    &:not(.gutter-0)>* {
        width:calc(100% / var(--col) - calc(var(--gutter) * calc(var(--col) - 1) / var(--col)));
       
       
    }
    &> * {
        background: lightblue;
        width:calc(100% / var(--col));
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap:16px;
    margin-bottom: 100px;
    > * {
        flex: 1 0 250px;
        background: lightblue;
        &:nth-child(4) {
            flex-basis: 50%;
            flex-grow:0;
            background-color: red;
        }
        &:nth-child(5) {
            flex-basis: 50%;
            flex-grow:0;
            background-color: blue;
        }
      
    }
}
.main-menu {
   display:flex; 
   &__item{  
        display: block;
        &--hasDropdown {//.main-menu__item--hasDropdown
            position: relative;
            & > a {// .main-menu__item--hasDropdown > a
                color:black;
                i.fa {// .main-menu__item--hasDropdown > a i.fa
                    font-size: 18px;
                }
                &:hover {
                    color:red;
                }
            }
        }
   }

}




.article {
    --imgWidth:500px;
    display:flex;
    gap:32px;
    @media(max-width:963px){
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    &__content {
        flex:1;
       
        
    }
    &__figure { // .artcile__figure
        flex:0 1 var(--imgWidth);
        @media(max-width:963px){
            --imgWidth:auto;
        }
        //flex-grow:0
        //flex-shrink:1
        //flex-basis:500px;
    }
}

.article--2 {
  
    display:flex;
    gap:32px;
   flex-wrap:wrap;
    &__content {
        flex:1;
        @media(max-width:963px){
       order:1;
        }
        
    }
    &__figure { // .artcile__figure
        flex:0 1 500px;
        
        //flex-grow:0
        //flex-shrink:1
        //flex-basis:500px;
    }
    &__title {
        position: relative;
        &::after {
            content: "";
            width: 100px;
            height: 2px;
            background-color: darkslateblue;
            display: block;
            transition: width 0.3s;
        }
        &:hover {
            &::after {
                width:100%;
            }
        }
        &::first-letter {
            color:blue;
        }
    }
}


 
.avatar {
    --size:120px;
    width:var(--size);
    height:var(--size);
    border-radius: 50%;
    overflow: hidden;
    img {
        width:100%;
        height: 100%;
        object-fit: cover;

    }
}
.avatar > img {

}

.styled-heading {
   font-size: 48px;
   position: relative;

//    &:before {
//     content: '';
//     display: inline;
   
//     height: 6px;
//     width: 100vw;
//     background-color: var(--color);
//     position: absolute;
//     right: calc(100% + 16px);
//     top:  30px;
//    }
//    &:after {
//     content: '';
//     display: inline;
   
//     height: 6px;
//     width: 100vw;
//     background-color: var(--color);
//     position: absolute;
//     left: calc(100% + 16px);
//     bottom:  20px;
//    }
   >span {
    position: relative;
   }
>span:first-child {
 
    &:before {
        content: '';
        display: inline;
       
        height: 6px;
        width: 100vw;
        background-color: var(--color);
        position: absolute;
        right: calc(100% + 16px);
        top: 50%;
        transform: translateY(-50%);
       }
}
  >span:last-child {
    // background-color: blue;
   
    align-items: center;
    gap:16px;
    &:after {
        content: '';
        display: inline;
       
        height: 6px;
        width: 100vw;
        background-color: var(--color);
        position: absolute;
    left: calc(100% + 16px);
    top: 50%;
    transform: translateY(-50%);
       }
  }
   
}

.dots {
    .dot {
        border-radius: 50%;
        width:16px;
        height: 16px;
        background-color: lightgray;
        display: inline-block;
        &.active {
            background-color: red;
             & + .dot:nth-of-type(n+4) {
                background-color: red;
            }
        }
    }
}

//SLIDER
.slick-prev {

}
.slick-next {
// right:0;
}
.slick-arrow {
    // position: absolute;
    // z-index: 2;
    // top: 50%;
    // transform:translateY(-50%);
    padding: 8px;
}

.hero-slider {
    position: relative;
}
.hero-nav {
    position: absolute;
    bottom:32px;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    gap:16px;
}
#hero-nav {
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    // display: flex;
    // gap:16px;
    bottom:50px;
   // .slick-arrow:not(:last-child) {
   //      margin-right:16px;
   //  }
    .slick-arrow:first-child {
         margin-right:16px;
    }
    
}

.testimonial-slider {
    .slick-dots {
        list-style: none;
    display: flex;
    gap: 8px;
    justify-content: center;
    >li {
        &.slick-active {
            button {
                background-color: green;
            }
        }
        button {
            --size:24px;
            background-color: transparent;
            width:var(--size);
            height:var(--size);
            border-radius: 50%;
            text-indent: -9999px;
    

            
        }
    }
    }
}
//UNIT - px, % , rem, em, vh, vw, ch
html {
    // font-size: 16px;
}

@function rem($value, $baseSize:16) {
    $remValue: math.div($value,  $baseSize) + rem; 
    @return $remValue;
}
@function em($value, $baseSize:16) {
    $remValue: math.div($value, $baseSize) + em; 
    @return $remValue;
}

 
//example
.div {
    width:rem(200);
    height: rem(200);
    border:em(12) solid red; 
    overflow-y:auto;   
    margin: rem(33) 0;
    padding:em(24px); //28px
    
    @media(max-width:600px){
        font-size: 12px;
    }
    
   

     
}
/*=============================================
=            RED            =
=============================================*/

// 1rem = relative to root font size which is 16px = 1 x 14px = 14px
// 2rem= 28px;
// uses: font-size, width, height, transform scale, translate, 
// optional uses: padding, margin


/*=====  End of RED  ======*/


/*=============================================
=            EM            =
=============================================*/
// 1em = relative to  font size of same tag or parent tag  = 1 x 14px = 14px
// 2em= 28px;
// uses: padding, margin, line-height


/*=====  End of EM  ======*/

.site-header {
    nav {
        ul {
            li {
                a {
                    font-size: 1rem;
                    padding: 0.5em;
                }
            }
        }
    }
}

// TRANSFORM, TRANSITION, MARGIN, POSITION 
// negative value on margin
// stacking

.card {
    position: relative;
    transition: transform 0.3s cubic-bezier(.1,1.51,.87,1.63) ;
    // transition-property: transform;
    // transition-duration: 0.3s;
    // transition-timing-function: ease-in;
    // transition-delay: 5s;
    .card-content {// &-content
        padding:24px;
    }
    .card-header { // &-header
        background-color: lightyellow;
        &--transform {
            transform: translateY(-70px);
        }
        &--margin {
            margin-top: -70px;
            position: relative;
        }
        &--position {
            position: absolute;
    top: 138px;
        }
    }

    &--bestPlan {
       // transform:scale(1.2);
       position: relative;
       z-index: 1;
       &:hover {
        transform:scale(1.2);
       }
    }
}
.section {
    padding: 40px 0;
}
.color-white {
    color:white;
}
[data-bg]{
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &:before {
        content: "";
        width:100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;        
        background-color: rgba(0, 0, 0, 0.75);

    }
    .container {
        position: relative;
    }
}

.section--cta {
    color:white;
    .row .col {
        background-color: transparent;
    }
    .section-title {
        font-size: rem(32);
        line-height: 150%;
        margin-bottom: em(20, 32);
    }
}
// FORMS
// INPUTS, BUTTTONS, RADIO, CHECKED , CSS 
// AOS, WOW vendor plugin
// ANIMATE ON SCROLL
// WHITE SPACE
// DISPLAY: COLUMN,

// DISPLAY : GRID

// BOOSTRAP

// SASS


.hero {
    &-content {
        padding:32px 0;
    }

    &--2 {
         position: relative;
        //  height:100vh;
        //  height: min(800px, 100vh);
         min-height: min(800px, 100vh);
         display: flex;
         align-items: center;
         
         &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
           inset:0 auto auto 0;
        //    background-color: rgba(0, 0, 0, 0.50);
           background-color: rgba(0, 0, 0, 0.5);
           //Red: 000000; or 000; or 0
           //Green: 0000000; or 000; or 0
           //Blue: 000000; or 000; or 0
          // Alpha:25%;
          z-index: 1;
          
         }
        .container {
            position: relative;
            z-index: 1;
            .btn {
                background-color: white;
            }
            *:not(.btn-secondary) {
                color:white;
            }
        }
        .hero-title {
            font-size: 58px;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: capitalize;
    line-height: 120%;
        }
        .lead {
            margin-bottom: 0;
        }
        .hero-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap:16px;
            max-width: 80ch;
        }

        .hero-img-carousel {
            position: absolute;
            // top:0;
            // left:0;
            // right:0;
            // bottom:0;
            inset:0 0 0 0;
            width:100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .slick-list {
                height:100%;
                .slick-track {
                    height: inherit;
                }
            }
        }
            
    }
}


// MIXIN
// FUNCTION
// PLACEHOLDERS //
// EXTENDS //

//CSS
// CSS FLEX
// CSS GRID

// BOOTSTRAP
/**
 *
 * PLACEHODERS
 *
 */

// center-all
%center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}
//example 
.center-all {
    @extend %center-all;
}

.card {
    @extend %center-all;
}


/**
 *
 * MIXIN
 *
 */
 $colors: (
    primary: #007991,
    secondary: #55D3AE,
    tertiary: #D35555,
    gradientFirstColour: #007991,
    gradientSecondColour: #34EBE9
); 
 
@mixin btnProps {
    background-color:map-get($colors, primary);
    color:white;
    padding:8px 16px;
    border-radius:4px ;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    @content;
}
//example 
.btn {
    @include btnProps;
    font-size:18px; 
}

.btn-primary {
    @include btnProps;
    background-color: blue;
}

//responsive media query 1
@mixin respond ($breakpoint) {

    // $breakpoint is simply a variable that can have several values

    @if $breakpoint==tablet {

        // here `laptop` is the value of $breakpoint
        // when call laptop, we mean the following piece of code        

    @media only screen and (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}
//responsive media query 2
$media: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    2xl: 1536px,
    3xl: 1920px,
);

@mixin md($breakpoint) {
    @each $breakpoints, $size in $media {
        @if $breakpoint==$breakpoints {
            @media screen and (min-width: $size) {
                @content;
            }
        }
    }
}

form:invalid input[required]:invalid {
    // outline:2px solid red;
} 
.form-group {
    // display: flex;
    margin-bottom:16px;
    >label {
            display: block;
        margin-bottom:8px;
    }
    input:focus:invalid {
        outline:2px solid red;
    }
    input:focus:valid {
        outline:2px solid greenyellow;
    }
    input:not([type="checkbox"], [type="radio"], [type="range"] [type="submit"]), [type="reset"]{
    //    border:1px solid red;
    }
    input[type="text"], input[type="email"], input[type="number"], input[type="tel"], textarea {
        padding:8px 12px;
        border-radius: 4px;
       
        
        &::placeholder {
            color:gray;
            font-style: italic;
            
        }
    }
}

.html-modal {
    $p:&;
    position: fixed;
    inset:0;
    z-index: -100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
     width:100%;
    height:100%;
    top:100%;
   
    &.active {       
        transform:translateY(0);
        z-index: 999;
        top:0;
        #{$p}-container {
            transform: translateY(0);
            max-height: 80vh;
            transition: transform 0.3s;
           
        }
        #{$p}-backdrop {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    &-container {
        background-color: white;
        max-width: 927px;
        margin:0 auto;
        position: relative;
        z-index: 1;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        padding:16px;
        transform:translateY(100%);
        transition: transform 0.3s;
        
    }
    &-body {
        flex:1;
        overflow-y: auto;

    }
    &-header {
        display: flex;
    }
    &-title {
        flex:1;
    }
    &-backdrop {
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        inset: 0;
        width:100%;
        height:100%;
        transition: background-color 0.3s;

    }
}

table {
    margin:20px;
    border:1px solid black;
    td, th {
        padding:8px;
        border:1px solid black;
    }
}

.grid {
    background: aqua;
    padding:16px;
    
  display: grid;
    grid-template-columns: repeat(12, 200px);
   
    
    
    >*:nth-child(2){
        background: red;
    }
    
}

.layout {
    margin:0 0;
    // background: lightgray;
    min-height: 100vh;    
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows:auto  1fr auto;
    grid-template-areas: 
        "head head"
        "sidebar content"
        "footer footer";
  
    @media(max-width:767px){
         grid-template-rows:max-content ;
        grid-template-areas: 
        "head head"
        "sidebar sidebar"
        "content content"       
        "footer footer";
    }
    .header1 {
        // grid-column:1/-1;
        grid-area:head;
            background:blue;
        color:white;
    }
    .sidebar {
        grid-area:sidebar;
    }
     .main {
        grid-area:content;
    }
    .footer {
        // grid-column:1/-1;
        grid-area:footer;
        background:green;
    }
}